reference : 『손에 잡히는 판다스, 문용준, 비제이퍼블릭, 2018』

In [ ]:
import pandas as pd

### 참조 자료

        https://tomaugspurger.github.io/modern-5-tidy

##  1. 데이터 알아보기

In [ ]:
games = pd.read_csv('../data/nav_2018.csv', encoding='utf-8')

In [ ]:
# games 데이터프레임의 기본적인 정보를 info() 함수로 알아보자
# TO-DO

In [ ]:
# games 데이터프레임의 shape 를 알아보자.
# TO-DO

In [ ]:
# games 데이터프레임의 첫 5행을 조회해 보자.

In [ ]:
# games 데이터프레임의 'Unnamed: 0' 컬럼(열)을 drop() 함수를 사용하여 제거해 보자.
games.drop(['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
games

## 2. 컬럼 정리하기

In [ ]:
games_ = games.copy()

In [ ]:
games.columns

In [ ]:
games.columns[6]

In [ ]:
games.columns[7]

In [ ]:
column_names = {'Date': '경기일자', 'Start (ET)': 'start',
                'Visitor/Neutral': '방문팀', 
                'PTS': '방문팀점수', 'Home/Neutral': '홈팀',
                'PTS.1': '홈팀점수', '\xa0' : 'Box', 'Attend.':'관중수','\xa0.1': 'n_ot'}

In [ ]:
# games 데이터 프레임에서 위에 정의한 column_names 딕셔너리로 컬럼들의 이름을 재정의 하자. (rename() 함수 사용)
# TO-DO #games = games.rename(columns=column_names)

In [ ]:
games.columns

In [ ]:
games.head()

In [ ]:
games['경기일자'].dtype

In [ ]:
# to_datetime 을 사용하여 '경기일자' 컬럼을 datetime 형식으로 전환
# to_datetime의 format 관련, https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
games['경기일자']=pd.to_datetime(games['경기일자'], format='%a, %b %d, %Y')

In [ ]:
games['경기일자'].dtype

In [ ]:
games.head()

## 3. 초기값 및 결측데이터 정리하기

In [ ]:
games.shape

In [ ]:
# games 데이터 프레임의 결측 값이 있는지 isnull() 과 sum() 을 결합하여 확인해 보자.
# TO-DO

In [ ]:
games[games['n_ot'].notnull()] #OT 는 'OverTime:연장전'

In [ ]:
# games 데이터 프레임의 결측 값을 fillna() 함수를 사용하여 채워넣어 보자.
# TO-DO #games['n_ot'].fillna('NOT',inplace=True)

In [ ]:
games.info()

In [ ]:
# games 데이터 프레임의 결측치가 존재하는 컬럼을 dropna() 함수로 삭제해 보자.
# TO-DO #games_na = games.dropna(axis=1)

In [ ]:
games_na.head()

In [ ]:
games_na.shape

## 4. 필요 열만 추출해서 정리하기

In [ ]:
# games_na 데이터 프레임에서 '경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수' 컬럼들만 선택하여 games_nae 로 생성하자.
# TO-DO

In [ ]:
games_nae.columns

In [ ]:
games_nae.head()

In [ ]:
# games_nae 데이터 프레임에서 '경기일자' 컬럼을 인덱스에 추가하자. (append=True)
# TO-DO #games_naes = games_nae.set_index('경기일자',append=True)

In [ ]:
games_naes.head()

In [ ]:
# games_naes 데이터 프레임의 인덱스를 '게임', '경기일자' 로 이름 변경
#TO-DO #games_naesr = games_naes.rename_axis(["게임","경기일자"])

In [ ]:
games_naesr.head()

In [ ]:
games_naesr = games_naesr.sort_index()

In [ ]:
games_naesr.head()

In [ ]:
type(games_naesr.index)

In [ ]:
type(games_naesr.columns)

##  5. 데이터 작업 체인닝 처리하기

In [ ]:
games_all = (games_.rename(columns=column_names)
    .dropna(thresh=4)
    [['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]
    .assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))
    .set_index('경기일자', append=True)
    .rename_axis(["게임", "경기일자"])
    .sort_index())

In [ ]:
games_all.head()

In [ ]:
games_all.index.levels[1]