reference : read_excel() got an unexpected keyword argument 'encoding'

In [ ]:
import pandas as pd

## Indexing and Selecting 실습

In [ ]:
df = pd.read_csv('../data/factory_2018.csv', encoding='cp949')

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Unnamed: 0':'업종(중분류)'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df.index

In [ ]:
df.set_index(['업종(중분류)'], inplace=True)

In [ ]:
df.head()

In [ ]:
df.info()

## Indexing

### 1. 대괄호 '[]' 인덱싱

In [ ]:
# '부산' 열을 인덱싱하라.
# TO-DO

In [ ]:
# '부산' 열을 인덱싱하되, DataFrame 으로 결과가 나오도록 하라.
# TO-DO

In [ ]:
# '부산', '대구' 열을 인덱싱 하라.
# TO-DO

In [ ]:
# '부산', '대구' 열을 인덱싱 하되, 3행~8행까지의 결과를 나타내라.
# TO-DO

### 2. .loc 함수 사용

In [ ]:
# .loc 함수를 사용하여, '서울' 열을 인덱싱하라.
# TO-DO

In [ ]:
# .loc 함수를 사용하여, '서울' 열을 인덱싱하되, DataFrame 형태가 나타나도록 하라.
# TO-DO

In [ ]:
# .loc 함수를 사용하여, '강원', '제주' 열을 인덱싱 하라.
# TO-DO

In [ ]:
# .loc 함수를 사용하여, '강원', '제주' 열을 인덱싱 하되, 처음부터 10행까지만 나타내라.
# TO-DO

In [ ]:
df.index

### 3. .iloc 함수사용

In [ ]:
# .iloc 함수를 사용하여 3번째 열을 일덱싱 하라.
# TO-DO

In [ ]:
# .iloc 함수를 사용하여 3번째 열을 일덱싱 하되, DataFrame 형태가 나타나도록 하라.
# TO-DO

In [ ]:
# .iloc 함수를 사용해 10번, 11번 열을 인덱싱 하라.
# TO-DO

In [ ]:
# .iloc 함수를 사용해 10번, 11번 열을 인덱싱하고, 20번째 행 이상만 가져오라.
# TO-DO

In [ ]:
# .iloc 함수를 사용해 '전남', '경남', '전북', '경북' 열을 가져오되, 11행까지만 가져오라.
# TO-DO

### Boolean Indexing 을 포함한 Indexing

### 1. 대괄호 + Boolean 인덱싱

In [ ]:
# '강원'에 있는 업종 중에서 서울 현황을 인덱싱
# TO-DO

### 2. .loc + Boolean 인덱싱

In [ ]:
# 전북에도 있고, 전남에도 있는 업종을 '경남', '경북' 에서 인덱싱
# TO-DO

### 3. iloc + Boolean 인덱싱

In [ ]:
#충남에 없는 업종을 '서울','경기' 로 인덱싱
# TO-DO

### 4. query 함수를 사용하는 방법을 알아보자. (보너스)

In [ ]:
df_sj = df[['서울','제주']]

In [ ]:
df_sj.head()

In [ ]:
# '서울' Between(10, 20)
df[(df_sj['서울']>10)&(df_sj['서울']<20)]['서울'].sum()

In [ ]:
df_sj.loc[(df_sj['서울']>10)&(df_sj['서울']<20),'서울']

In [ ]:
df_sj.query('서울 >=10 & 서울 <= 20')

In [ ]:
df_sj.query('서울 >=10 & 서울 <= 20')['서울']

In [ ]:
df_sj.query('서울 >=10 & 서울 <= 20')[['서울']]