In [11]:
import numpy as np
import pandas as pd

pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns",30)
pd.set_option('display.max_colwidth', 0)

## Series 로 문자열 다루기 실습

In [40]:
names = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', ' Michael Palin'])

In [1]:
# len() 함수를 써서 각 이름의 개수를 확인하라.
# TO-DO

In [3]:
# lower() 함수를 써서 각 이름을 소문자로 만들어라.
# TO-DO

In [4]:
# strip() 함수를 써서 공백을 없애라.
# TO-DO

In [6]:
# replace() 함수를 써서 'Eric' 을 'Tom' 으로 변경하라.
# TO-DO

In [7]:
# 공백문자열 (' ') 을 사용하여, split() 을 수행하라.
# TO-DO

In [8]:
# 공백문자열 (' ') 을 사용하여, split() 을 수행하고, str[0] 을 사용하여 첫번째 요소만 출력해 보자.
# TO-DO

In [9]:
# 공백문자열 (' ') 을 사용하여, split() 을 수행하고, str[1] 을 사용하여 마지막 요소만 출력해 보자.
# TO-DO

## 문자열 다루기 실전

In [12]:
df = pd.read_csv('../data/matzipData.csv', encoding='utf-8')
df

,Restaurant Name,Rating,Address,Tel,Food,Price,Parking,Operating Time,Holiday
0,이나니와요스케,4.4,서울시 중구 을지로1가 192-11,02-772-9994,라멘 / 소바 / 우동,만원-2만원,주차공간없음,11:00 - 23:00,일
1,바오차이,4.4,서울시 중구 을지로2가 203,02-6031-0107,정통 중식 / 일반 중식,2만원-3만원,유료주차 가능,11:30 - 21:30,NaN
2,라칸티나,4.4,서울시 중구 을지로1가 50,02-777-2579,이탈리안,3만원-4만원,NaN,월-토: 11:30 - 23:00 일: 17:30 - 23:00,NaN
3,라세느,4.3,서울시 중구 소공동 1,02-317-7171,뷔페,4만원 이상,발렛,06:00 - 22:00,NaN
4,산수갑산,4.3,서울시 중구 인현동1가 15-4,02-2275-6654,탕 / 찌개 / 전골,만원 미만,유료주차 가능,월-금: 11:30 - 22:00 토: 11:30 - 20:00,일
...,...,...,...,...,...,...,...,...,...
395,누룩나무,4,서울시 종로구 관훈동 118-19,02-722-3398,전통 주점 / 포차,만원-2만원,주차공간없음,17:00 - 01:30,일
396,옴,4,서울시 종로구 신문로1가 2,02-723-4848,인도 음식,만원-2만원,주차공간없음,11:00 - 22:00,NaN
397,코블러,4,서울시 종로구 내자동 157,02-733-6421,칵테일 / 와인,만원-2만원,유료주차 가능,19:00 - 03:00,일
398,클류치,4,서울시 종로구 명륜3가 79-1,010-2702-1496,카페 / 디저트,만원 미만,주차공간없음,월-토: 10:00 - 23:00 일: 11:00 - 20:00,NaN
399,도토리,4,서울시 종로구 안국동 24-1,02-6405-8153,기타 한식,만원 미만,유료주차 가능,월-금: 10:30 - 21:00 토-일: 10:30 - 22:00,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurant Name  400 non-null    object
 1   Rating           400 non-null    object
 2   Address          400 non-null    object
 3   Tel              350 non-null    object
 4   Food             400 non-null    object
 5   Price            397 non-null    object
 6   Parking          329 non-null    object
 7   Operating Time   364 non-null    object
 8   Holiday          126 non-null    object
dtypes: object(9)
memory usage: 28.2+ KB

In [23]:
# 'Food' 컬럼을 str.split('/') 과 expand 기능을 사용하여 3열의 DataFrame 으로 변환하여 df_food 로 생성하라.
# TO-DO
df_food = df['Food'].str.split('/', expand=True)
df_food

          0       1     2
0    라멘       소바      우동
1    정통 중식    일반 중식  None
2    이탈리안    None    None
3    뷔페      None    None
4    탕        찌개      전골
..   ..       ...    ...
395  전통 주점    포차     None
396  인도 음식   None    None
397  칵테일      와인     None
398  카페       디저트    None
399  기타 한식   None    None

[400 rows x 3 columns]

In [24]:
df['Parking'].unique()

array(['주차공간없음', '유료주차 가능', nan, '발렛', '유료주차 가능 주차권 2시간 제공', '무료주차 가능',
       '무료주차 가능 2시간 무료', '무료주차 가능 당일 무료', '유료주차 가능 1시간 무료',
       '유료주차 가능 1.5시간 무료', '유료주차 가능 2시간 무료'], dtype=object)

In [28]:
# 'Parking' 컬럼에서 '1시간 무료' 문자열을 '1시간' 으로 치환하여 df['Parking'] 에 재할당 하라.
# TO-DO

array(['주차공간없음', '유료주차 가능', nan, '발렛', '유료주차 가능 주차권 2시간 제공', '무료주차 가능',
       '무료주차 가능 2시간 무료', '무료주차 가능 당일 무료', '유료주차 가능 1시간',
       '유료주차 가능 1.5시간 무료', '유료주차 가능 2시간 무료'], dtype=object)

In [29]:
# 'Parking' 컬럼에서 '주차권', '제공', '가능' 문자열을 빈 문자열 '' 로 치환하여 df_parking 으로 생성하라.
# TO-DO

array(['주차공간없음', '유료주차 ', nan, '발렛', '유료주차   2시간 ', '무료주차 ',
       '무료주차  2시간 무료', '무료주차  당일 무료', '유료주차  1시간', '유료주차  1.5시간 무료',
       '유료주차  2시간 무료'], dtype=object)

In [31]:
# df_parking 을 str.split(' ', expand=True) 으로 분할하고 첫번째 요소만 선택해서 df_parking 으로 재할당하라.
# TO-DO

In [32]:
df_parking

0      주차공간없음
1      유료주차
2      NaN
3      발렛
4      유료주차
       ...
395    주차공간없음
396    주차공간없음
397    유료주차
398    주차공간없음
399    유료주차
Name: Parking, Length: 400, dtype: object