In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'날짜':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        '전력소모량':[112,108,134,122, 127],
        '태양광':[34,34,32,30,29],
        '풍력':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

## 컬럼 조작
### 컬럼 추출

In [4]:
df['태양광']

0    34
1    34
2    32
3    30
4    29
Name: 태양광, dtype: int64

In [5]:
df[2]

KeyError: 2

- 복수개 컬럼 추출 → DataFrame 객체

In [6]:
df[['전력소모량','태양광','풍력']]

   전력소모량  태양광  풍력
0    112   34  21
1    108   34  19
2    134   32  24
3    122   30  27
4    127   29  22

### 컬럼 추가

- 단일 컬럼 추출 → Series 객체

In [7]:
df['태양광+풍력'] = df['태양광']+df['풍력']
df

           날짜  전력소모량  태양광  풍력  태양광+풍력
0  2024-08-10    112   34  21      55
1  2024-08-11    108   34  19      53
2  2024-08-12    134   32  24      56
3  2024-08-13    122   30  27      57
4  2024-08-14    127   29  22      51

### Drop

In [8]:
df

           날짜  전력소모량  태양광  풍력  태양광+풍력
0  2024-08-10    112   34  21      55
1  2024-08-11    108   34  19      53
2  2024-08-12    134   32  24      56
3  2024-08-13    122   30  27      57
4  2024-08-14    127   29  22      51

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      5 non-null      object
 1   전력소모량   5 non-null      int64
 2   태양광     5 non-null      int64
 3   풍력      5 non-null      int64
 4   태양광+풍력  5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes

- 행 삭제

In [11]:
df.drop(0)
df

           날짜  전력소모량  태양광  풍력  태양광+풍력
0  2024-08-10    112   34  21      55
1  2024-08-11    108   34  19      53
2  2024-08-12    134   32  24      56
3  2024-08-13    122   30  27      57
4  2024-08-14    127   29  22      51

- 열 삭제

In [12]:
df.drop('태양광+풍력', axis=1)

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

### 여러 열/행 삭제

In [13]:
df.drop(['태양광', '풍력', '태양광+풍력'], axis=1)

           날짜  전력소모량
0  2024-08-10    112
1  2024-08-11    108
2  2024-08-12    134
3  2024-08-13    122
4  2024-08-14    127

## 컬럼명 바꾸기

In [14]:
data = {'date':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        'consum.':[112,108,134,122, 127],
        'solar.':[34,34,32,30,29],
        'wind.':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)

In [15]:
df

         date  consum.  solar.  wind.
0  2024-08-10      112      34     21
1  2024-08-11      108      34     19
2  2024-08-12      134      32     24
3  2024-08-13      122      30     27
4  2024-08-14      127      29     22

In [21]:
df.columns

Index(['date', 'consum.', 'solar.', 'wind.'], dtype='object')

**컬럼명 변경**

### 1.전체 컬럼명 변경, df.columns = [ ... ]

In [22]:
df.columns = ['날짜', '전력소모량','태양광', '풍력']
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

### 2. 일부 혹은 전체 변경, df.rename(columns = {'old_name':'new_name'})

In [16]:
data = {'date':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        'consum.':[112,108,134,122, 127],
        'solar.':[34,34,32,30,29],
        'wind.':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)
df

         date  consum.  solar.  wind.
0  2024-08-10      112      34     21
1  2024-08-11      108      34     19
2  2024-08-12      134      32     24
3  2024-08-13      122      30     27
4  2024-08-14      127      29     22

In [18]:
df.rename( columns= {'solar.':'태양광',\
                     'wind.':'풍력'})
df

         date  consum.  태양광  풍력
0  2024-08-10      112   34  21
1  2024-08-11      108   34  19
2  2024-08-12      134   32  24
3  2024-08-13      122   30  27
4  2024-08-14      127   29  22