In [19]:
import pandas as pd
import numpy as np

In [20]:
data = {'날짜':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        '전력소모량':[112,108,134,122, 127],
        '태양광':[34,34,32,30,29],
        '풍력':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

## 인덱스 라벨 재설정

### 1. 전체 인덱스 라벨 재설정, df.index = [...]

In [21]:
df.index = ['AA', 'BB', 'CC', 'DD', 'EE']
df

            날짜  전력소모량  태양광  풍력
AA  2024-08-10    112   34  21
BB  2024-08-11    108   34  19
CC  2024-08-12    134   32  24
DD  2024-08-13    122   30  27
EE  2024-08-14    127   29  22

### 2. 일부 인덱스 라벨 재설정, df.rename(index= {'old_name':'new_name'})

In [5]:
data = {'날짜':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        '전력소모량':[112,108,134,122, 127],
        '태양광':[34,34,32,30,29],
        '풍력':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

In [6]:
df.rename(index={0:'AA', 3:'BB'})
df

            날짜  전력소모량  태양광  풍력
AA  2024-08-10    112   34  21
1   2024-08-11    108   34  19
2   2024-08-12    134   32  24
BB  2024-08-13    122   30  27
4   2024-08-14    127   29  22

## 인덱스 변경, set_index

In [7]:
data = {'날짜':['2024-08-10','2024-08-11','2024-08-12','2024-08-13','2024-08-14'],
        '전력소모량':[112,108,134,122, 127],
        '태양광':[34,34,32,30,29],
        '풍력':[21,19,24,27,22],    
}

df = pd.DataFrame(data=data)
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

In [9]:
df.set_index('날짜', inplace=True)
df

            전력소모량  태양광  풍력
날짜
2024-08-10    112   34  21
2024-08-11    108   34  19
2024-08-12    134   32  24
2024-08-13    122   30  27
2024-08-14    127   29  22

In [10]:
df.index

Index(['2024-08-10', '2024-08-11', '2024-08-12', '2024-08-13', '2024-08-14'], dtype='object', name='날짜')

## 인덱스 초기화, df.reset_index()

In [14]:
df.reset_index(inplace=True)
df

           날짜  전력소모량  태양광  풍력
0  2024-08-10    112   34  21
1  2024-08-11    108   34  19
2  2024-08-12    134   32  24
3  2024-08-13    122   30  27
4  2024-08-14    127   29  22

In [16]:
# 문자열을 datetime64 형식으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      5 non-null      datetime64[ns]
 1   전력소모량   5 non-null      int64
 2   태양광     5 non-null      int64
 3   풍력      5 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 288.0 bytes

In [18]:
df.set_index('날짜', inplace=True)
df

            전력소모량  태양광  풍력
날짜
2024-08-10    112   34  21
2024-08-11    108   34  19
2024-08-12    134   32  24
2024-08-13    122   30  27
2024-08-14    127   29  22