In [ ]:
import numpy as np
import pandas as pd

pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns",30)
pd.set_option('display.max_colwidth', 0)

문자열 함수 목록: 
- https://pandas.pydata.org/docs/reference/series.html#api-series-str

## String Series 생성

In [ ]:
s1 = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s1

In [ ]:
s2 = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype='string')
s2

In [ ]:
s1.astype('string')

## Series 문자열 다루기

In [ ]:
names = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', ' Michael Palin'])

In [ ]:
names.str.len()

In [ ]:
names.str.lower()

In [ ]:
names.str.strip()

In [ ]:
names.str.replace('Eric', 'Tom')

In [ ]:
names.str.split(' ')

In [ ]:
type(names.str.split(' '))

In [ ]:
#만약에 Split 한 결과의 첫번째 요소를 Series 객체로 반환하고 싶다면
names.str.split(' ').str[0]

In [ ]:
# Split 한 마지막 요소를 Series 객체로 반환하고 싶다면
names.str.split(' ').str[-1]

## DataFrame 문자열 다루기

In [ ]:
df = pd.DataFrame(data={'상영관':['1관','2관','3관','4관'],\
                       '영화제목':['기생충','미나리','오징어게임','파묘'],\
                       '상영시간':['120분','115분','200min.','95분'],\
                       '출연':['송강호,이선균,조여정, ', '스티븐 연,윤여정,한예리','이정재,박해수,오영수', '최민식,유해진,김고은']})
df

### 1. 상영시간을 숫자만 남기고 정수형으로 변경

In [ ]:
df['상영시간'] = df['상영시간'].str.replace('분','')\
                               .str.replace('min.','')\
                               .astype('int16')
df

In [ ]:
df.info()

### 2. '출연' 컬럼을 split() 으로 쪼개고 expand=True 로 DataFrame 으로 반환

In [ ]:
df_star = df['출연'].str.split(',', expand=True)
df_star

- 첫 3번째 컬럼만 취하고 마지막 컬럼 삭제
<br>
- 컬럼명을 ['출연1','출연2','출연3'] 으로 변경

In [ ]:
df_star.drop(3,axis=1, inplace=True)

In [ ]:
df_star.columns = ['출연1','출연2','출연3']
df_star

- 기존 DataFrame 과 병합하고 '출연' 컬럼은 삭제

In [ ]:
df = pd.concat((df, df_star), axis=1).drop('출연', axis=1)
df