reference:
- https://seoyuun22.tistory.com/47
- https://seoyuun22.tistory.com/48

In [ ]:
import pandas as pd
import numpy as np

## 1. Apply
- DataFrame 의 특정 축(axis)을 따라 함수를 적용
- Numpy 함수, Pandas 함수
- 사용자 정의 함수도 가능

In [ ]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

In [ ]:
# 열기준 합
df.apply(np.sum, axis=0)

# 행 기준 합
df.apply(np.sum, axis=1)

#### 1) 하나의 컬럼을 이용하여 apply function 만들기

In [ ]:
data_list = [{'yyyy-mm-dd' : '2015-12-29'},
             {'yyyy-mm-dd' : '1996-08-21'},
             {'yyyy-mm-dd' : '1989-08-18'}]

df = pd.DataFrame(data_list, columns=['yyyy-mm-dd'])
df

In [ ]:
# 년도만 추출하는 함수 정의
def extract_year(column):
    return column.split("-")[0]

In [ ]:
# apply 수행
df['year'] = df['yyyy-mm-dd'].apply(extract_year)
df

In [ ]:
# 년도로부터 나이를 얻는 함수 정의
def get_age(year, current_year):
    return current_year - int(year) + 1

In [ ]:
df['age'] = df['year'].apply(get_age, current_year = 2021)
df

#### 2) 2개의 column을 이용하여 apply function 만들기

In [ ]:
def get_introduce(row):
    return "I was born " + str(row.year) + ", my age is " + str(row.age)

In [ ]:
df['introduce'] = df.apply(get_introduce, axis=1)
df

## 2. Map
- apply 와 같이 컬럼을 함수를 통해 변경
- 딕셔너리를 직접 전달해 원하는 값으로 변환

#### 1) 컬럼 변경

In [ ]:
data_list = [{'date' : '1989-08-18'},
            {'date' : '2015-12-29'},
             {'date' : '1996-08-21'}]
             
df = pd.DataFrame(data_list, columns=['date'])
df

In [ ]:
def extract_year(date):
    return date.split('-')[0]

In [ ]:
df['year'] = df['date'].map(extract_year)
df

#### 2) 딕셔너리를 직접 전달해 원하는 값으로 바꾸기

In [ ]:
job_list = [{'age' : 20, 'job' : 'student'},
            {'age' : 32, 'job' : 'developer'},
            {'age' : 23, 'job' : 'student'},
            {'age' : 35, 'job' : 'teacher'}]

df = pd.DataFrame(job_list, columns=['age', 'job'])
df

In [ ]:
df['job_number'] = df['job'].map({'student' : 1, 'developer' : 2, 'teacher' : 3 } )
df